.content {
    max-width: 200px;
    margin: 0 auto;
}
.logo {
    width: 10%;
}
.home-title {
}
.button-box {
}
.book {
}
.home-grid {
}
.rivers-card {
}
.card-img {
}
.icon {
}
.camping-card {
}
.rapids-class {
}
.mountains {
}
.msg {
}
.join {
}
.social {
}
